@tailwind base;
@tailwind components;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 1rem;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 2em);
  margin: 1em;
}

flexInnerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 2em);
  margin: 1em;
}

.action-buttons {
  display: flex;
  gap: 1rem; /* Space between the buttons */
  justify-content: center;
  margin-bottom: 0; /* No margin at the bottom since it's the last item */
}

.action-prompt {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

.action-paragraph {
  font-size: 1rem;
  text-align: center;
  max-width: 80%; /* Constraining width for readability */
  margin: 1rem auto;
}

.image-preview {
  border: 1px solid lightgray;
  padding: 8px;
  display: inline-block;
  margin: 1rem auto;
}

.input-wrapper {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100%; /* Take up full available height */
}

.hidden-file-input {
  display: none;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  z-index: 1000;
}

.action-prompt {
  --tw-text-opacity: 1;
  font-weight: 700;
  text-size-adjust: 100%;
  bold: 700;
  color: rgba(229, 231, 235, var(--tw-text-opacity));
}

.space-loader-container {
  width: 300%;
  height: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #333 url("./space.gif") center no-repeat;
  z-index: 1;
}

.popol-loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #333 url("./popol-vuh.gif") center no-repeat;
  z-index: 1;
}

@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 51, 51, 51;
    --background-end-rgb: 51, 51, 51;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
