@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0.03, 0.2;
  --background-end-rgb: 0, 0.03, 0.2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0.03, 0.2;
    --background-end-rgb: 0, 0.03, 0.2;
  }
}
@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

  button {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rounded-md,
        bg-gray-100,
        p-2,
        text-gray-600 transition hover: text-gray-600/75,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}

@layer components {
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

  button {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rounded-md,
        bg-gray-100,
        p-2,
        text-gray-600 transition hover: text-gray-600/75,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}
